/*common*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color:#e9c10d;
  --secondary-color:#295467;
  --ternary-color:#4c020e;
  --dark-color: #0f1010;
  --white-color:#fff;
  --common-color:#333333;
  --site-font: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--site-font);
}

body {
  font-family: var(--site-font);
  font-size: 16px;
  color: var(--common-color);
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--common-color);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: var(--site-font);
  font-weight: 400;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--common-color);
}

a:hover {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
}

.pt {
  padding-top: 120px;
}

.pt_small {
  padding-top: 50px;
}

.pb {
  padding-bottom: 120px;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small_button a {
  width: 154px;
  height: 45px;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.small_button a::before {
  width: 100%;
  height: 100%;
  background-color: var(--common-color);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.small_button a:hover {
  color: var(--white-color);
}

.small_button a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.all_button a {
  width: 252px;
  height: 67px;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 20px;
  font-weight: 700;
}

.all_button .submit {
  width: 252px;
  height: 67px;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-style: none;
  cursor: pointer;
  font-family: var(--site-font);
  color: var(--common-color);
  z-index: 1;
}

.all_button .submit::before {
  width: 100%;
  height: 100%;
  background-color: var(--common-color);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.all_button .submit:hover {
  color: var(--white-color);
}

.all_button .submit:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.heading_area {
  width: 100%;
  text-align: center;
  margin-bottom: 97px;
}

.heading_area p {
  padding-top: 58px;
  width: 35%;
  display: inline-block;
}

.custom_heading {
  width: 100%;
  position: relative;
}

.custom_heading::before {
  background-image: url(../images/highlighter.png);
  width: 356px;
  height: 89px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  background-size: cover;
}

.custom_heading h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: rgba(191, 190, 190, 0.6) 0 0 10px;
  position: relative;
}

.custom_heading h2::before {
  width: 75px;
  height: 1px;
  background-color: var(--ternary-color);
  position: absolute;
  bottom: -31px;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
}

.custom_heading h2::after {
  width: 49px;
  height: 1px;
  background-color: var(--ternary-color);
  position: absolute;
  bottom: -37px;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
}

@media only screen and (max-width: 669px) {
  .heading_area {
    margin-bottom: 50px;
  }
  .heading_area p {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .pt {
    padding-top: 75px;
  }
  .pb {
    padding-bottom: 75px;
  }
  .custom_heading h2 {
    font-size: 32px;
  }
  .custom_heading::before {
    width: 224px;
    height: 57px;
  }
  .heading_area p {
    font-size: 14px;
    line-height: 24px;
  }
}

/*common*/
/*header*/
.slicknav_menu {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 100%;
  z-index: 99;
}

.slicknav_menu .slicknav_nav {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
}

.slicknav_menu .slicknav_btn {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slicknav_menu .slicknav_btn:before {
  background-image: url(../images/list.png);
  content: "";
  width: 16px;
  height: 16px;
}

.slicknav_menu .slicknav_btn.slicknav_open:before {
  background-image: url(../images/cross.png);
}

.slicknav_menu .slicknav_nav li {
  margin-right: 0;
  padding: 0;
}

.slicknav_menu .slicknav_nav ul, .slicknav_menu .slicknav_nav li, .slicknav_menu .slicknav_nav a {
  width: 100%;
}

.slicknav_menu .slicknav_nav li a {
  color: var(--dark-color) !important;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  float: left;
  padding: 8px 0 8px 20px !important;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  outline-style: none;
  position: relative;
}

.slicknav_menu .slicknav_nav li .slicknav_item {
  padding: 0 !important;
  border-bottom: 0;
}

.slicknav_menu .slicknav_nav li a span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: var(--dark-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slicknav_menu .slicknav_nav li ul li a {
  padding: 10px 0 10px 50px !important;
  font-size: 12px;
  background-color: var(--dark-color);
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
  width: 100%;
}

.slicknav_menu .slicknav_nav ul li ul {
  position: relative;
  top: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.slicknav_menu .custom_button {
  display: none;
}

@media only screen and (max-width: 991px) {
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu .menu {
    display: block !important;
  }
}

@media only screen and (max-width: 500px) {
  .slicknav_menu .slicknav_btn {
    right: 12px;
  }
  .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    height: 2px;
    margin: 0 auto 2px auto;
  }
  .slicknav_menu .slicknav_nav li a {
    font-size: 14px;
    padding: 10px 0 10px 15px !important;
  }
  .slicknav_menu .slicknav_nav li ul li a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .slicknav_menu .right_widget {
    display: block;
  }
  .slicknav_menu .right_widget .details li a img {
    display: none;
  }
  .slicknav_menu .slicknav_nav li a {
    font-size: 12px;
  }
}

header {
  width: 100%;
}

header .top {
  width: 100%;
  height: 56px;
  background-color: var(--common-color);
}

header .top .left_contact li {
  color: var(--white-color);
  font-size: 16px;
  margin-right: 46px;
}

header .top .left_contact li img {
  margin-right: 11px;
}

header .top .left_contact li:last-child {
  margin-right: 0;
}

header .top .social_media li {
  margin-right: 11px;
}

header .top .social_media li:last-child {
  margin-right: 0;
}

header .main_header {
  width: 100%;
  background-color: #f1f1f1;
  padding: 30px 0;
}

header .main_header .container {
  position: relative;
}

header .main_header .logo img {
  display: block;
}

header .main_header .main_nav li {
  margin-right: 32px;
}

header .main_header .main_nav li a {
  text-transform: capitalize;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .main_header .main_nav li a:hover {
  color: #000;
}

header .main_header .main_nav li:last-child {
  margin-right: 0;
}

header .main_header .header_right_details {
  margin-left: 36px;
}

header .main_header .header_right_details img {
  display: block;
}

header .main_header .header_right_details .small_button {
  margin-right: 23px;
}

header .main_header .header_right_details .header_call {
  margin-right: 23px;
}

header .main_header .header_right_details .header_search {
  cursor: pointer;
}

@media only screen and (max-width: 1279px) {
  header .main_header .main_nav li {
    margin-right: 20px;
  }
  header .main_header .main_nav li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  header .main_header .container {
    padding-right: 70px;
  }
  header .main_header .mobile_menu {
    display: none;
  }
  header .main_header .main_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .main_header .main_nav li {
    margin-right: 0;
  }
}

@media only screen and (max-width: 669px) {
  header .top {
    height: auto;
    padding: 15px 0;
  }
  header .top .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .top .left_contact {
    width: 100%;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .top .left_contact li {
    font-size: 14px;
    margin-right: 0;
  }
  header .top .social_media {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 669px) {
  .slicknav_menu .slicknav_nav {
    top: 70px;
  }
  header .top .left_contact li {
    font-size: 11px;
  }
  header .main_header .logo img {
    height: 35px;
  }
  header .main_header .container {
    padding-right: 45px;
  }
  header .main_header .header_right_details .header_search {
    display: none;
  }
  header .main_header .header_right_details .header_call {
    margin-right: 5px;
  }
  header .main_header .header_right_details .small_button {
    margin-right: 11px;
  }
  header .main_header .header_right_details .small_button a {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  header .main_header .logo img {
    height: 25px;
  }
  header .main_header .header_right_details .small_button a {
    width: 117px;
  }
}

@media only screen and (max-width: 350px) {
  header .top .left_contact li {
    font-size: 10px;
  }
  header .main_header .header_right_details {
    margin-left: 15px;
  }
  header .main_header .header_right_details .small_button a {
    width: 100px;
    height: 32px;
    font-size: 10px;
  }
  header .main_header .header_right_details .header_call img {
    height: 22px;
  }
}

/*header*/
/*hero*/
.hero_back_details {
  width: 100%;
  background-color: var(--white-color);
  background-image: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.hero_back_details .container {
  height: 905px;
}

.hero_back_details .left_content_area {
  width: 51%;
  padding-bottom: 61px;
}

.hero_back_details .left_content_area h1 {
  color: #295467;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 56px;
  text-shadow: rgba(191, 190, 190, 0.6) 0 0 30px;
}

.hero_back_details .left_content_area h2 {
  font-size: 42px;
  font-weight: 300;
  margin-top: 30px;
}

.hero_back_details .left_content_area h2 span {
  font-weight: 700;
  color: var(--primary-color);
}

.hero_back_details .left_content_area .form_back {
  width: 449px;
  margin-top: 63px;
}

.hero_back_details .left_content_area .form_back h3 {
  font-size: 28px;
  font-weight: 400;
  color: var(--dark-color);
  margin-bottom: 42px;
}

.hero_back_details .left_content_area .form_back h3 span {
  font-weight: 700;
  color: var(--ternary-color);
}

.hero_back_details .left_content_area .form_back .main_form_back {
  width: 100%;
}

.hero_back_details .left_content_area .form_back .main_form_back .input {
  width: 100%;
  height: 74px;
  border-radius: 10px;
  background-color: var(--white-color);
  -webkit-box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
          box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
  padding: 0 35px;
  outline-style: none;
  border: #e7e5e5 1px solid;
  margin-bottom: 13px;
}

.hero_back_details .left_content_area .form_back .main_form_back .input::-webkit-input-placeholder {
  color: var(--dark-color);
}

.hero_back_details .left_content_area .form_back .main_form_back .input:-ms-input-placeholder {
  color: var(--dark-color);
}

.hero_back_details .left_content_area .form_back .main_form_back .input::-ms-input-placeholder {
  color: var(--dark-color);
}

.hero_back_details .left_content_area .form_back .main_form_back .input::placeholder {
  color: var(--dark-color);
}

.hero_back_details .left_content_area .contact_del {
  margin-top: 35px;
}

.hero_back_details .left_content_area .contact_del li {
  margin-right: 31px;
}

.hero_back_details .left_content_area .contact_del li img {
  margin-right: 14px;
}

.hero_back_details .left_content_area .contact_del li:last-child {
  margin-right: 0;
}

.hero_back_details .right_avator {
  width: 54%;
  position: relative;
  left: 89px;
}

.hero_back_details .right_avator img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 1399px) {
  .hero_back_details .right_avator {
    left: 30px;
  }
}

@media only screen and (max-width: 1365px) {
  .hero_back_details .container {
    height: 777px;
  }
  .hero_back_details .left_content_area h1 {
    font-size: 44px;
  }
  .hero_back_details .left_content_area h2 {
    font-size: 31px;
    margin-top: 12px;
  }
  .hero_back_details .right_avator {
    left: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .hero_back_details .container {
    height: 634px;
  }
  .hero_back_details .left_content_area h1 {
    font-size: 34px;
  }
  .hero_back_details .left_content_area h2 {
    font-size: 24px;
    margin-top: 1px;
  }
  .hero_back_details .left_content_area .form_back {
    margin-top: 39px;
    width: 331px;
  }
  .hero_back_details .left_content_area .form_back .main_form_back .input {
    height: 56px;
  }
  .hero_back_details .left_content_area .form_back h3 {
    font-size: 22px;
    margin-bottom: 28px;
  }
  .hero_back_details .left_content_area .form_back .all_button .submit {
    width: 209px;
    height: 60px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 669px) {
  .hero_back_details .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero_back_details .left_content_area {
    width: 100%;
    text-align: center;
  }
  .hero_back_details .left_content_area .form_back {
    width: 70%;
    display: inline-block;
  }
  .hero_back_details .left_content_area .form_back .hero_back_details .left_content_area .form_back h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }
  .hero_back_details .left_content_area .contact_del li {
    margin-right: 20px;
  }
  .hero_back_details .left_content_area .contact_del li a {
    font-size: 14px;
  }
  .hero_back_details .left_content_area .contact_del li a img {
    width: 30px;
  }
  .hero_back_details .right_avator {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .hero_back_details {
    padding: 50px 0;
  }
  .hero_back_details .container {
    height: auto;
  }
  .hero_back_details .left_content_area {
    padding-bottom: 0;
  }
  .hero_back_details .left_content_area .form_back {
    width: 90%;
  }
}

@media only screen and (max-width: 380px) {
  .hero_back_details {
    padding: 50px 0;
  }
  .hero_back_details .container {
    height: auto;
  }
  .hero_back_details .left_content_area {
    padding-bottom: 0;
  }
  .hero_back_details .left_content_area h1 {
    font-size: 26px;
  }
  .hero_back_details .left_content_area h2 {
    font-size: 17px;
  }
  .hero_back_details .left_content_area .form_back {
    width: 100%;
    margin-top: 23px;
  }
  .hero_back_details .left_content_area .form_back h3 {
    font-size: 17px;
    margin-bottom: 19px;
  }
}

/*hero*/
/*Testimoniuals*/
.testimonials_section {
  width: 100%;
  background-color: var(--grey-color);
  padding-top: 221px;
  position: relative;
  margin-top: -249px;
  z-index: 1;
  overflow: hidden;
}

.testimonials_section.inner {
  margin-top: 0;
  padding-top: 130px;
}

.testimonials_section::before {
  background-image: url(../images/dooted1.png);
  width: 225px;
  height: 387px;
  position: absolute;
  top: 168px;
  left: 0;
  content: "";
  z-index: -1;
}

.testimonials_section::after {
  background-image: url(../images/dooted2.png);
  width: 211px;
  height: 387px;
  position: absolute;
  bottom: 45px;
  right: 0;
  content: "";
  z-index: -1;
}

.testimonials_section .content_area {
  width: 100%;
  padding-left: 153px;
  padding-right: 84px;
}

.testimonials_section .main_testimonials {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding-right: 153px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.testimonials_section .main_testimonials .port {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 80px;
  position: relative;
}

.testimonials_section .main_testimonials .port::before {
  width: 100%;
  height: 1px;
  background-image: url(../images/fade_border1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-size: cover;
}

.testimonials_section .main_testimonials .port::after {
  width: 1px;
  height: 100%;
  background-image: url(../images/fade_border2.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-size: cover;
}

.testimonials_section .main_testimonials .port:nth-child(2n+2) {
  padding-right: 0;
  padding-left: 80px;
}

.testimonials_section .main_testimonials .port:nth-child(2n+2)::after {
  display: none;
}

.testimonials_section .main_testimonials .port:nth-child(3)::before {
  display: none;
}

.testimonials_section .main_testimonials .port:nth-child(4)::before {
  display: none;
}

.testimonials_section .main_testimonials .port img {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.testimonials_section .main_testimonials .port p {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
}

.testimonials_section .main_testimonials .port .name {
  color: var(--primary-color);
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1600px) {
  .testimonials_section {
    margin-top: -173px;
    padding-top: 130px;
  }
  .testimonials_section .content_area {
    padding-left: 0;
    padding-right: 50px;
  }
  .testimonials_section .main_testimonials {
    padding-right: 0;
  }
  .testimonials_section .main_testimonials .port p {
    width: 100%;
  }
}

@media only screen and (max-width: 1365px) {
  .testimonials_section {
    margin-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .testimonials_section {
    text-align: center;
  }
  .testimonials_section .content_area {
    padding-right: 0;
  }
  .testimonials_section .main_testimonials .port {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .testimonials_section .main_testimonials .port:nth-child(2n+2) {
    padding-right: 24px;
    padding-left: 24px;
  }
  .testimonials_section .main_testimonials .port p {
    font-size: 15px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .testimonials_section {
    padding-top: 40px;
  }
  .testimonials_section.inner {
    padding-top: 40px;
  }
  .testimonials_section::before {
    display: none;
  }
  .testimonials_section::after {
    display: none;
  }
  .testimonials_section .main_testimonials {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .testimonials_section .main_testimonials .port::before {
    display: block !important;
  }
  .testimonials_section .main_testimonials .port::after {
    display: none !important;
  }
  .testimonials_section .main_testimonials .port:last-child::before {
    display: none !important;
  }
}

/*Testimoniuals*/
/*Result*/
.result_section {
  width: 100%;
  background-color: #f7f7f7;
}

.result_section .courses_section {
  width: 100%;
  position: relative;
}

.result_section .courses_section .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result_section .courses_section .owl-nav button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result_section .courses_section .owl-stage-outer {
  padding: 50px 0 80px;
}

.result_section .courses_section .owl-stage-outer .owl-item {
  padding: 0 30px;
}

.result_section .courses_section .course_item {
  width: 100%;
  border-radius: 5px;
  background-color: var(--white-color);
  -webkit-box-shadow: rgba(1, 11, 60, 0.1) 0 30px 40px;
          box-shadow: rgba(1, 11, 60, 0.1) 0 30px 40px;
  overflow: hidden;
}

.result_section .courses_section .course_item img {
  width: 100%;
  height: 352px;
  -o-object-fit: cover;
     object-fit: cover;
}

.result_section .courses_section .course_item .name_area {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px 0 19px 20px;
  border-bottom: #dddddd 1px solid;
}

.result_section .courses_section .course_item .name_area span {
  font-size: 15px;
  font-weight: 400;
  color: #030303;
}

.result_section .courses_section .course_item .name_area lord-icon {
  width: 82px;
  height: 82px;
}

.result_section .courses_section .course_item .collage_area {
  width: 100%;
  padding: 32px 0 32px 33px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: #295467;
  text-transform: capitalize;
  line-height: 21px;
  position: relative;
}

.result_section .courses_section .course_item .collage_area .youtube_button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  margin: auto;
  height: 64px;
}

.result_section .courses_section .course_item .collage_area .youtube_button img {
  margin-right: 0;
}

.result_section .courses_section .course_item .collage_area img {
  margin-right: 13px;
  width: auto;
  height: auto;
}

.result_section .courses_section .course_item .collage_area span {
  font-size: 14px;
  color: #7e7d7d;
  font-weight: 400;
}

.result_section .button_back {
  width: 100%;
}

.result_section .button_back .whatsapp {
  margin-left: 29px;
}

.result_section .button_back .whatsapp img {
  margin-right: 14px;
}

@media only screen and (max-width: 1279px) {
  .result_section .courses_section .owl-stage-outer .owl-item {
    padding: 0 15px 0 15px;
  }
  .result_section .courses_section .course_item img {
    height: 298px;
  }
  .result_section .courses_section .course_item .name_area {
    font-size: 16px;
  }
  .result_section .courses_section .course_item .name_area lord-icon {
    width: 60px;
    height: 60px;
  }
  .result_section .courses_section .course_item .name_area span {
    font-size: 13px;
  }
  .result_section .courses_section .course_item .collage_area .youtube_button {
    height: 30px;
    right: 20px;
  }
  .result_section .courses_section .course_item .collage_area .youtube_button img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 669px) {
  .result_section .courses_section {
    margin-top: 70px;
  }
  .result_section .courses_section .course_item img {
    height: 355px;
  }
  .result_section .courses_section .course_item .name_area {
    font-size: 18px;
  }
  .result_section .all_button a {
    width: 209px;
    height: 60px;
    font-size: 18px;
  }
  .result_section .button_back .whatsapp {
    font-size: 14px;
  }
  .result_section .button_back .whatsapp img {
    width: 30px;
    margin-right: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .result_section .courses_section {
    margin-top: 43px;
  }
  .result_section .owl-stage-outer {
    padding-top: 0 !important;
    padding-bottom: 57px !important;
  }
  .result_section .owl-stage-outer .owl-item {
    padding: 0 30px !important;
  }
  .result_section .button_back {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result_section .button_back .whatsapp {
    margin-top: 20px;
    margin-left: 0;
  }
}

/*Result*/
/*Ma Eco*/
.ma_eco_section {
  width: 100%;
  background-color: #f3f2f2;
}

.ma_eco_section.mailing_list {
  background-color: #f7f7f7;
}

.ma_eco_section .details_back {
  width: 100%;
  margin-top: 64px;
  text-align: center;
}

.ma_eco_section .details_back h4 {
  font-size: 20px;
  font-weight: 400;
}

.ma_eco_section .details_back .newsletter_section {
  width: 491px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 153px 0 0;
  -webkit-box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
          box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
  border: #e7e5e5 1px solid;
  background-color: var(--white-color);
  margin-top: 21px;
}

.ma_eco_section .details_back .newsletter_section .input {
  width: 100%;
  height: 55px;
  outline-style: none;
  background-color: transparent;
  padding: 0 28px;
  border: none;
}

.ma_eco_section .details_back .newsletter_section .input::-webkit-input-placeholder {
  color: var(--dark-color);
}

.ma_eco_section .details_back .newsletter_section .input:-ms-input-placeholder {
  color: var(--dark-color);
}

.ma_eco_section .details_back .newsletter_section .input::-ms-input-placeholder {
  color: var(--dark-color);
}

.ma_eco_section .details_back .newsletter_section .input::placeholder {
  color: var(--dark-color);
}

.ma_eco_section .details_back .newsletter_section .submit {
  width: 153px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: var(--primary-color);
  color: var(--common-color);
  cursor: pointer;
  outline-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.ma_eco_section .details_back .all_button {
  margin-top: 58px;
}

.ma_eco_section .details_back .all_button img {
  margin-right: 14px;
}

@media only screen and (max-width: 500px) {
  .ma_eco_section .details_back {
    margin-top: 0;
  }
  .ma_eco_section .details_back h4 {
    font-size: 16px;
  }
  .ma_eco_section .details_back .all_button a {
    width: 209px;
    height: 60px;
    font-size: 18px;
  }
  .ma_eco_section .details_back .newsletter_section {
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-right: 0;
  }
  .ma_eco_section .details_back .newsletter_section .input {
    -webkit-box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
            box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
    background-color: var(--white-color);
  }
  .ma_eco_section .details_back .newsletter_section .submit {
    position: relative;
    width: 100%;
    height: 55px;
    border-radius: 0 0 5px 5px;
  }
}

@media only screen and (max-width: 380px) {
  .ma_eco_section .details_back h4 {
    font-size: 14px;
  }
}

/*Ma Eco*/
/*Courses*/
.courses_section {
  width: 100%;
}

.courses_section .main_course_section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 82px;
}

.courses_section .main_course_section .course_item {
  width: 100%;
  background-color: var(--white-color);
  height: 461px;
  padding: 143px 38px 0 38px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
          box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
  text-align: center;
  position: relative;
  margin-top: 90px;
}

.courses_section .main_course_section .course_item .icon_back {
  width: 155px;
  height: 155px;
  background-color: #f7f7f7;
  border-radius: 100%;
  position: absolute;
  top: -79px;
  left: 0;
  right: 0;
  margin: auto;
}

.courses_section .main_course_section .course_item .icon_back lord-icon {
  width: 120px;
  height: 120px;
}

.courses_section .main_course_section .course_item h3 {
  font-size: 24.5px;
  font-weight: 600;
  margin-bottom: 28px;
}

.courses_section .main_course_section .course_item p {
  font-size: 14.18px;
  line-height: 22px;
}

.courses_section .main_course_section .course_item .all_button {
  margin-top: 38px;
  margin-bottom: 28px;
}

.courses_section .main_course_section .course_item .all_button a {
  width: 152px;
  height: 59px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

.courses_section .main_course_section .course_item h4 {
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 1279px) {
  .courses_section .main_course_section {
    grid-gap: 50px;
  }
  .courses_section .main_course_section .course_item h3 {
    font-size: 23.5px;
  }
}

@media only screen and (max-width: 889px) {
  .courses_section .main_course_section {
    grid-gap: 50px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .courses_section .main_course_section .course_item h3 {
    font-size: 23.5px;
  }
}

@media only screen and (max-width: 669px) {
  .courses_section .main_course_section {
    grid-gap: 50px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .courses_section .main_course_section .course_item h3 {
    font-size: 23.5px;
  }
}

@media only screen and (max-width: 380px) {
  .courses_section .main_course_section .course_item h3 {
    font-size: 20px;
  }
}

/*Courses*/
/*Demo Class*/
.demo_class_section {
  width: 100%;
  background-color: #f7f7f7;
}

.demo_class_section .main_video_section .owl-stage-outer {
  padding: 100px 0;
}

.demo_class_section .main_video_section .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demo_class_section .main_video_section .owl-nav button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.demo_class_section .main_video_section .swiper-slide-active .video_item {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.demo_class_section .main_video_section .swiper-slide-active .video_item .top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.demo_class_section .main_video_section .swiper-slide-active .video_item .top h3 {
  display: block;
}

.demo_class_section .main_video_section .swiper-slide-active .video_item p {
  display: block;
}

.demo_class_section .main_video_section .video_item {
  width: 100%;
  height: 278px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.demo_class_section .main_video_section .video_item::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.9);
  content: "";
  z-index: 1;
}

.demo_class_section .main_video_section .video_item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.demo_class_section .main_video_section .video_item .top {
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.demo_class_section .main_video_section .video_item .top img {
  position: relative;
}

.demo_class_section .main_video_section .video_item .top h3 {
  font-size: 34px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 40px;
  display: none;
}

.demo_class_section .main_video_section .video_item .top h3 span {
  color: var(--primary-color);
}

.demo_class_section .main_video_section .video_item p {
  position: relative;
  z-index: 2;
  color: var(--white-color);
  margin-top: 15px;
  display: none;
}

#coverflow-slider .swiper-slide {
  width: 40% !important;
}

/*Demo Class*/
/*About*/
.about_us_section {
  width: 100%;
}

.about_us_section .main_section {
  width: 100%;
}

.about_us_section .main_section .video_back {
  width: 45.5%;
  height: 465px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.about_us_section .main_section .video_back::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.9);
  content: "";
  z-index: 1;
}

.about_us_section .main_section .video_back .video_avator {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.about_us_section .main_section .video_back .video_play {
  position: relative;
  z-index: 2;
}

.about_us_section .main_section .content_part {
  width: 54.5%;
  padding-left: 72px;
}

.about_us_section .main_section .content_part h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 52px;
}

.about_us_section .main_section .content_part h3 span {
  font-weight: 500;
  color: #295467;
}

.about_us_section .main_section .content_part h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 26px;
}

.about_us_section .main_section .content_part p {
  width: 80%;
}

.about_us_section .main_section .content_part .button_back {
  width: 100%;
  margin-top: 38px;
}

.about_us_section .main_section .content_part .button_back .all_button a {
  width: 152px;
  height: 59px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

.about_us_section .main_section .content_part .button_back .whatsapp {
  margin-left: 29px;
}

.about_us_section .main_section .content_part .button_back .whatsapp img {
  margin-right: 14px;
}

@media only screen and (max-width: 991px) {
  .about_us_section .main_section .video_back {
    width: 45%;
    height: 333px;
  }
  .about_us_section .main_section .content_part {
    width: 55%;
    padding-left: 30px;
  }
  .about_us_section .main_section .content_part h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .about_us_section .main_section .content_part h4 {
    font-size: 16px;
    margin-bottom: 13px;
  }
  .about_us_section .main_section .content_part p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 669px) {
  .about_us_section .main_section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_us_section .main_section .video_back {
    width: 100%;
    margin-bottom: 30px;
  }
  .about_us_section .main_section .content_part {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 380px) {
  .about_us_section .main_section {
    text-align: center;
  }
  .about_us_section .main_section .content_part .button_back {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_us_section .main_section .content_part .button_back .whatsapp {
    margin-top: 20px;
    margin-left: 0;
  }
}

/*About*/
/*About*/
.ins_section {
  width: 100%;
  background-color: #f9f3e7;
}

.ins_section .main_section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 82px;
  margin-top: 245px;
}

.ins_section .main_section .ins_item {
  width: 100%;
  background-color: var(--white-color);
  padding: 287px 0 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
          box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
}

.ins_section .main_section .ins_item img {
  width: 316px;
  height: 393px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
}

.ins_section .main_section .ins_item h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
}

.ins_section .main_section .ins_item p {
  font-size: 15px;
  width: 70%;
  display: inline-block;
}

.ins_section .main_section .ins_item .all_button {
  margin-top: 34px;
}

.ins_section .main_section .ins_item .all_button a {
  width: 152px;
  height: 59px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

@media only screen and (max-width: 669px) {
  .ins_section .main_section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .ins_section .main_section .ins_item {
    margin-bottom: 160px;
  }
  .ins_section .main_section .ins_item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 450px) {
  .ins_section .main_section {
    margin-top: 213px;
  }
  .ins_section .main_section .ins_item {
    padding: 172px 0 50px;
    margin-bottom: 126px;
  }
  .ins_section .main_section .ins_item img {
    width: 200px;
    height: 280px;
  }
  .ins_section .main_section .ins_item h3 {
    font-size: 20px;
    margin-bottom: 21px;
  }
  .ins_section .main_section .ins_item p {
    width: 90%;
  }
}

/*About*/
/*Advantages*/
.advantages_section {
  width: 100%;
}

.advantages_section .main_section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 82px;
}

.advantages_section .main_section .ad_card {
  width: 100%;
  height: 161px;
  border-radius: 10px;
  background-color: var(--white-color);
  -webkit-box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
          box-shadow: rgba(147, 145, 145, 0.2) 1px 0 40px;
  padding-left: 33px;
}

.advantages_section .main_section .ad_card lord-icon {
  width: 78px;
  height: 78px;
  position: relative;
  overflow: visible;
  margin-right: 22px;
}

.advantages_section .main_section .ad_card lord-icon::before {
  background-image: url(../images/yel_str.png);
  width: 35px;
  height: 15px;
  position: absolute;
  right: 0;
  top: -7px;
  content: "";
}

.advantages_section .main_section .ad_card lord-icon::after {
  background-image: url(../../images/blue_str.png);
  width: 35px;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: -7px;
  content: "";
}

.advantages_section .main_section .ad_card h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

@media only screen and (max-width: 1279px) {
  .advantages_section .main_section {
    grid-gap: 50px;
  }
  .advantages_section .main_section .ad_card h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .advantages_section .main_section {
    grid-gap: 82px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .advantages_section .main_section .ad_card h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 669px) {
  .advantages_section .main_section {
    grid-gap: 50px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .advantages_section .main_section .ad_card h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .advantages_section .main_section {
    grid-gap: 50px;
  }
  .advantages_section .main_section .ad_card lord-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .advantages_section .main_section .ad_card h3 {
    font-size: 18px;
  }
}

/*Advantages*/
/*Student Reviews*/
.student_reviews_section {
  width: 100%;
  background-color: #edfafb;
}

.student_reviews_section .main_section {
  width: 100%;
  position: relative;
}

.student_reviews_section .main_section .owl-stage-outer {
  padding: 90px 0 50px;
}

.student_reviews_section .main_section .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.student_reviews_section .main_section .owl-nav button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.student_reviews_section .main_section .owl-nav button.owl-prev {
  left: -30px;
}

.student_reviews_section .main_section .owl-nav button.owl-next {
  right: -30px;
}

.student_reviews_section .main_section .center .review_item {
  background-color: #c6c3fb;
  min-height: 637px;
  margin-top: -42px;
}

.student_reviews_section .main_section .center .review_item .icon_back {
  background-color: var(--primary-color);
  background-image: url(../images/blub_active.png);
}

.student_reviews_section .main_section .review_item {
  width: 100%;
  padding: 100px 44px 50px 44px;
  border-radius: 10px;
  min-height: 518px;
  position: relative;
  background-color: var(--white-color);
}

.student_reviews_section .main_section .review_item .icon_back {
  width: 100px;
  height: 100px;
  border: #edfafb 5px solid;
  border-radius: 100%;
  position: absolute;
  top: -45px;
  left: 30px;
  z-index: 1;
  background-color: var(--white-color);
  background-image: url(../images/blub.png);
  background-position: center;
  background-repeat: no-repeat;
}

.student_reviews_section .main_section .review_item .icon_back img {
  width: auto;
  height: auto;
}

.student_reviews_section .main_section .review_item .content_area {
  width: 100%;
  position: relative;
  padding: 78px 0;
}

.student_reviews_section .main_section .review_item .content_area lord-icon {
  position: absolute;
  width: 70px;
  height: 70px;
}

.student_reviews_section .main_section .review_item .content_area lord-icon.top_quote {
  top: 0;
  left: -14px;
}

.student_reviews_section .main_section .review_item .content_area lord-icon.bottom_quote {
  bottom: 0;
  right: -14px;
}

.student_reviews_section .main_section .review_item .pro_del {
  width: 100%;
  margin-top: 50px;
}

.student_reviews_section .main_section .review_item .pro_del img {
  width: 76px;
  height: 76px;
  border-radius: 100%;
  margin-right: 20px;
}

.student_reviews_section .main_section .review_item .pro_del h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.student_reviews_section .main_section .review_item .pro_del p {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .student_reviews_section .main_section .owl-nav button {
    width: 30px;
    height: 30px;
  }
  .student_reviews_section .main_section .owl-nav button img {
    width: 20%;
  }
  .student_reviews_section .main_section .owl-nav button.owl-prev {
    left: 0;
  }
  .student_reviews_section .main_section .owl-nav button.owl-next {
    right: 0;
  }
  .student_reviews_section .main_section .center .review_item {
    min-height: 518px;
  }
}

/*Student Reviews*/
/*ContactUs*/
.contact_us_section {
  width: 100%;
}

.contact_us_section .main_section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 82px;
}

.contact_us_section .main_section h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
}

.contact_us_section .main_section h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
}

.contact_us_section .main_section .left_form_back {
  width: 100%;
}

.contact_us_section .main_section .left_form_back .main_form {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_us_section .main_section .left_form_back .main_form .input {
  width: 100%;
  height: 87px;
  border-radius: 10px;
  background-color: var(--white-color);
  -webkit-box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
          box-shadow: rgba(191, 190, 190, 0.3) 1px 0 40px;
  padding: 0 35px;
  outline-style: none;
  border: #e7e5e5 1px solid;
  margin-bottom: 24px;
  font-size: 16px;
}

.contact_us_section .main_section .left_form_back .main_form .input::-webkit-input-placeholder {
  color: var(--dark-color);
}

.contact_us_section .main_section .left_form_back .main_form .input:-ms-input-placeholder {
  color: var(--dark-color);
}

.contact_us_section .main_section .left_form_back .main_form .input::-ms-input-placeholder {
  color: var(--dark-color);
}

.contact_us_section .main_section .left_form_back .main_form .input::placeholder {
  color: var(--dark-color);
}

.contact_us_section .main_section .left_form_back .main_form .input.textarea {
  height: 281px;
  padding: 35px;
  resize: none;
}

.contact_us_section .main_section .right_details .contact_del {
  margin-top: 60px;
}

.contact_us_section .main_section .right_details .contact_del li {
  margin-right: 31px;
}

.contact_us_section .main_section .right_details .contact_del li img {
  margin-right: 14px;
}

.contact_us_section .main_section .right_details .contact_del li:last-child {
  margin-right: 0;
}

.contact_us_section .main_section .right_details address {
  font-style: normal;
  margin-top: 57px;
}

.contact_us_section .main_section .right_details address h5 {
  font-size: 30px;
  margin-bottom: 48px;
}

.contact_us_section .main_section .right_details address h4 {
  margin-bottom: 54px;
}

.google_map {
  width: 100%;
}

.google_map iframe {
  width: 100%;
  height: 461px;
  border: none;
  display: block;
}

@media only screen and (max-width: 1279px) {
  .contact_us_section .main_section h3 {
    font-size: 30px;
    margin-bottom: 48px;
  }
  .contact_us_section .main_section h4 {
    font-size: 17px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .contact_us_section .main_section h3 {
    font-size: 24px;
    margin-bottom: 48px;
  }
  .contact_us_section .main_section h4 {
    font-size: 17px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 669px) {
  .contact_us_section .main_section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contact_us_section .main_section .right_details .contact_del li {
    margin-right: 20px;
  }
  .contact_us_section .main_section .right_details .contact_del li a {
    font-size: 14px;
  }
  .contact_us_section .main_section .right_details .contact_del li a img {
    width: 30px;
  }
}

/*ContactUs*/
/*footer*/
footer {
  width: 100%;
}

footer .logo_section {
  width: 320px;
}

footer .logo {
  margin-bottom: 35px;
  display: block;
}

footer .logo img {
  display: block;
}

footer p {
  font-size: 16px;
  line-height: 31px;
}

footer p a {
  color: #010101;
  text-decoration: underline;
}

footer .social {
  width: 100%;
  margin-top: 36px;
}

footer .social li {
  margin-right: 7px;
}

footer .social li a {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #295467;
  border-radius: 100%;
}

footer h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 58px;
  display: block;
}

footer .ft_menu_section {
  width: 270px;
}

footer .ft_menu_section .ft_menu li {
  margin-bottom: 8px;
}

footer .ft_menu_section .ft_menu li a {
  font-size: 16px;
}

footer .ft_con_menu li {
  margin-bottom: 20px;
  font-size: 18px;
  padding-left: 42px;
  position: relative;
  width: 334px;
}

footer .ft_con_menu li img {
  position: absolute;
  top: 4px;
  left: 0;
}

.copyright {
  width: 100%;
  background-color: var(--common-color);
  color: var(--white-color);
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 889px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .logo_section {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 669px) {
  footer .ft_menu_section {
    width: 100%;
    margin-bottom: 50px;
  }
  footer .ft_con_menu {
    width: 100%;
  }
}

/*footer*/
/*# sourceMappingURL=style.css.map */